#mainContainer {
  display: flex;
  flex-direction: column;
}

#image {
  display: flex;
  order: 1;
}

#lowerContainer {
  display: flex;
  order: 2;
  flex-direction: row;
  justify-content: center;
  margin: 49px;
}

#calendarAndReviews{
  display: flex;
  flex-direction: column;
  order: 1;
  margin-right: 50px;
}

#calendar{
  display: flex;
  order: 1;
}

#Reviews{
  display: flex;
  order: 2;
}

#reservationsArea {
  display: flex;
  order: 2;
}